{% extends "mainpage.html" %}
{% block body%}
<div class="search">
    <h1 style="text-align: center">Search</h1>
    <nav style="text-align:center;width:500px;margin-left:auto;margin-right:auto" class="navbar navbar-light bg-light">
        <form style="width:100%;" class="form-inline" name="passQuery" action="/searchQuery" method="POST">
            <input style="width:78%;margin-left:auto;margin-right:auto" class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
            <button style="width:18%;margin-left:auto;margin-right:auto" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="isSynonymSearch" id="isSynonymSearch">
                <label class="form-check-label" for="isSynonymSearch">synonyms</label>
            </div>
        </form>
    </nav>
</div>

<h4 style="text-align: center;color:green;">Searched Query : {{ q }}</h4>
{% for phonedata in result %}
<div class="container" style="background:#f0f0f0;padding: 5px;">
<p style="font-size: 18px;"><b>Title: </b> {{ phonedata.title }}</h4>
<p style="font-size: 15px;"><b>Features: </b> {{ phonedata.features }}</h4>
<p style="font-size: 15px;"><b>Description: </b>{{ phonedata.desc }}</h4>
<p style="font-size: 15px;"><b>Total TF-IDF value: </b>{{ phonedata.tfIdfValuesMap.totalTfIdfValue }}</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Term Frequency</th>
        <th scope="col">Inverse Docuement Frequency</th>
      </tr>
    </thead>
    <tbody>
        {% for key in phonedata.tfIdfValuesMap.tf.keys() %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ phonedata.tfIdfValuesMap.tf[key] }}</td>
            <td>{{ phonedata.tfIdfValuesMap.idf[key] }}</td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>

</div>
<br>
{% endfor %}

{% endblock%}
